
@{
    ViewBag.Title = "AdminDashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <div class="row">
        <div class="cardDash col-md-3" style="float:left">
            <div class="card-body">
                <h5 class="card-title">Pending</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>


            </div>
        </div>
        <div class=" cardDash col-md-3" style="float:left">
            <div class="card-body">
                <h5 class="card-title">Grade</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>

            </div>
        </div>
        <div class=" cardDash col-md-3" style="float:left">
            <div class="card-body">
                <h5 class="card-title">Graded</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>

            </div>
        </div>
        <div class=" cardDash col-md-3" style="float:left">
            <div class="card-body">
                <h5 class="card-title">Rejected</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>

            </div>
        </div>
    </div>
    <div class="row">
        <h2>Video Submission</h2>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Email</th>
                    <th>Single/Band</th>
                    <th>Single/Band Name</th>
                    <th>Vimeo link</th>
                    <th>Action</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>John</td>
                    <td>Doe</td>
                    <td>john@example.com</td>
                    <td>Band</td>
                    <td>Talent Unlimited</td>
                    <td>www.vimeo.com/link1</td>
                    <td>
                        <input type="button" class="btn btn-default" value="Edit" />
                        
                    </td>
                </tr>
                <tr>
                    <td>Mary</td>
                    <td>Moe</td>
                    <td>mary@example.com</td>
                    <td>Single</td>
                    <td>SSPro</td>
                    <td>www.vimeo.com/link1</td>
                    <td>
                        <input type="button" class="btn btn-default" value="Edit" />
                    </td>
                </tr>
                <tr>
                    <td>July</td>
                    <td>Dooley</td>
                    <td>july@example.com</td>
                    <td>Single</td>
                    <td>SSPro</td>
                    <td>www.vimeo.com/link1</td>
                    <td>
                        <input type="button" class="btn btn-default" value="Edit" />
                       
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

