
.vs/SounCheckPro/v15/.suo
.vs/SounCheckPro/v15/Server/sqlite3/db.lock
.vs/config/applicationhost.config
.vs/SounCheckPro/v15/Server/sqlite3/storage.ide
.vs/SounCheckPro/v15/Server/sqlite3/storage.ide-shm
.vs/SounCheckPro/v15/Server/sqlite3/storage.ide-wal
SounCheckPro/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
