
@{
    ViewBag.Title = "HomePage";
}

<section class="page-section about-heading">
        <div class="container">
            <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="~/img/band.jpg" alt="">
            <div class="about-heading-content">
                <div class="row">
                    <div class="col-xl-9 col-lg-10 mx-auto">
                        <div class="bg-faded rounded p-5">
                            <h2 class="section-heading mb-4">
                                <span class="section-heading-upper">SoundCheck.Pro: Talent Finder</span>
                                <span class="section-heading-lower">About SoundCheck.Pro</span>
                            </h2>
                            <p>Clients: Finding local musical talent is easy with SoundCheck.Pro. Search our website to instantly find talent that meets your event needs. Musical Talent: Our website works as a powerful tool for attracting more clients, simplifying financial transactions, and developing your musical talents	 Get </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
