
@{
    ViewBag.Title = "SearchTalent";
}
<form >
    <div class="form-row " style="margin-top:2%; margin-bottom:4%">
        <div class="col-3">
            <input type="text" class="form-control" placeholder="Grading">
        </div>
        <div class="col-3">
            <input type="text" class="form-control" placeholder="Rating">
        </div>
        <div class="col-4">
            <input type="text" class="form-control" placeholder="City">
        </div>
        <div class="col-4">
            <i class="fa fa-search " style=" font-size:24px; color:darkgoldenrod"></i>
        </div>
    </div>
</form>
