
@{
    ViewBag.Title = "AddVideo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    Html.RenderPartial("_topNav");
}
<div class="container mt-3">
    <h2>Upload Video</h2>
    <form action="/action_page.php">
        <p>File:</p>
        <div class="custom-file mb-3">
            <input type="file" class="custom-file-input" id="customFile" name="filename">
            <label class="custom-file-label" for="customFile">Choose file</label>
        </div>



        <div class="mt-3">
            <input type="button" class="btn btn-primary" value="Submit" />
        </div>
    </form>
</div>
